html 
    head 
        title game
        script(src="/js/funktion.js") 
        script(src="/js/smallJsFuncs.js") 
        link(rel="stylesheet" type="text/css" href="/css/winningRow.css")
    body 
    #container
        #lotteryTitle UDTRÆKNING D. 
            h= ' '+game.date
        #backButton 
            a.buttonBack(href="/")= 'Startside'

        #winningRow
            h2='VÆLG VINDERTAL'
        #intInput1
            input.inputField(type="number", min = 1, max = 25)
        #intInput2
            input.inputField(type="number", min = 1, max = 25)
        #intInput3    
            input.inputField(type="number", min = 1, max = 25)

        #submitButton
            button.buttonSubmit(href='javascript: tilfVT(\''+ game.docID +'\')', onclick="javascript: disableInputField") TILFØJ
        #definiteWinningNumbersText 
            h2='ENDELIGE VINDERTAL'
        #definiteWinningNumbers
            h3=game.Vindertal
        #winningRows 
            h2= 'VINDERRÆKKE(R)'
        #winningNames 
            h2= 'VINDER(E)'
        #winningRowsUL 
        #winningNameUL


