html 
    head 
        title lotteri
        //script(src="assets/js/function.js") 
    body 
        a(href='/lotterier')= '<Tilbage'
        h1= 'date: '+lotteri.date 
        h1= 'vindertal: '+lotteri.Vindertal || lotteri.vindertal
        
        textarea(id="1",cols="1",rows="1",value="value",maxlength="2") 
        textarea(id="2", cols="1", rows="1", value="value",maxlength="2")
        textarea(id="3", cols="1", rows="1", value="value",maxlength="2")
        a(href='javascript: tilfVT(\''+ lotteri.docID +'\')') submit
        h1= 'talrækker: '
            a(href=`/lotteri/${lotteri.docID}/addTR`) KøbTR
            for tr in lotteri.talraekker
                li 
                    for tal in tr 
                        a= tal+"     "
        h1= "deltagere: "
            a(href=`/lotteri/${lotteri.docID}/addDeltagere`) addDeltager
        for deltager in lotteri.deltagere
            for d in deltager
                ul= d
                
    