html 
    head 
        title lotteri
        //script(src="assets/js/function.js") 
    body 
        a(href='/lotterier')= '<Tilbage'
        h1= 'date: '+lotteri.date 
        h1= 'vindertal: '+lotteri.Vindertal || lotteri.vindertal
            button(type='submit',value='tilfoejVT',onClick='javascript:tilfoejVT('+lotteri.docID+')') TilføjVT
        h1= 'talrækker: '+lotteri.Talrækker 
        p= lotteri.deltagere
            button(type='submit',value='tilfoejTR',onClick='javascript:købTR('+lotteri.docID+')') KøbTR
        h1= 'deltagere: '+lotteri.Deltagere 
            a(href=`/lotteri/${lotteri.docID}/addDeltagere`) addD
        