html 
    head 
        title lotteri
        //script(src="assets/js/function.js") 
        link(rel="stylesheet" type="text/css" href="/css/lotteri.css")
    body 
    #container
        #lotteriTitel UDTRÆKNING D. 
            h= ' '+lotteri.date
        #backButton 
            a.buttonBack(href="/lotterier")= 'Oversigt'
        
        h1= 'vindertal: '+lotteri.Vindertal || lotteri.vindertal
        
        input(id="1", type="number", value="value") 
        input(id="2", type="number", value="value")
        input(id="3", type="number", value="value")
        a(href='javascript: tilfVT(\''+ lotteri.docID +'\')') submit
        h1= 'talrækker: '
            a(href=`/lotteri/${lotteri.docID}/addTR`) KøbTR
            for tr in lotteri.talraekker
                li 
                    for tal in tr 
                        a= tal+"     "
        h1= "deltagere: "
            a(href=`/lotteri/${lotteri.docID}/addDeltagere`) addDeltager
        for deltager in lotteri.deltagere
            ul= deltager
                
    