html 
    head 
        title lotteri
        //script(src="assets/js/function.js") 
        link(rel="stylesheet" type="text/css" href="/css/lotteri.css")
    body
    #container
        #lotteriTitel UDTRÆKNING D. 
            h= ' '+lotteri.date 
        #backButton 
            a.button(href="/lotterier")= 'Oversigt'
        
        h1= 'vindertal: '+lotteri.Vindertal || lotteri.vindertal
            button(type='submit',value='tilfoejVT',onClick='javascript:tilfoejVT('+lotteri.docID+')') TilføjVT
        h1= 'talrækker: '+lotteri.Talrækker 
        p= lotteri.deltagere
            button(type='submit',value='tilfoejTR',onClick='javascript:købTR('+lotteri.docID+')') KøbTR
        h1= 'deltagere: '+lotteri.Deltagere 
            a(href=`/lotteri/${lotteri.docID}/addDeltagere`) addD
        