html 
    head 
        title lotteri
        script(src="/js/funktion.js") 
        script(src="/js/smallJsFuncs.js") 
        link(rel="stylesheet" type="text/css" href="/css/lotteri.css")
    body 
    #container
        #lotteryTitle UDTRÆKNING D. 
            h= ' '+lotteri.date
        #backButton 
            a.buttonBack(href="/lotterier")= 'Oversigt'

        
        h1= 'vindertal: '+lotteri.Vindertal || lotteri.vindertal
        
        input(id="1", type="number", value="value") 
        input(id="2", type="number", value="value")
        input(id="3", type="number", value="value")

        #winningRow
            h2='VÆLG VINDERTAL:'
        #intInput1
            input.inputfield(type="number", min = 1, max = 25)
        #intInput2
            input.inputfield(type="number", min = 1, max = 25)
        #intInput3    
            input.inputfield(type="number", min = 1, max = 25)

        #submitButton
            button.buttonSubmit(href='javascript: tilfVT(\''+ lotteri.docID +'\')', onclick="javascript: disableInputField") TILFØJ
        #definiteWinningNumbersText 
            h2='ENDELIGE VINDERTAL: '
        #definiteWinningNumbers
            h2=lotteri.Vindertal
        #winningRows 
            h2= 'VINDERRÆKKE(R)'
        #winningNames 
            h2= 'VINDER(E)'
        #winningRowsUL 

        #definiteWinningRow 
              h2='ENDELIGE VINDERTAL '+lotteri.Vindertal || lotteri.vindertal

        a(href='javascript: tilfVT(\''+ lotteri.docID +'\')') submit
        h1= 'talrækker: '
            a(href=`/lotteri/${lotteri.docID}/addTR`) KøbTR
        //
            for tr in lotteri.talraekker
                li 
                    for tal in tr 
                        a= tal+"     "
        //
        #winningNameUL

        h1= "deltagere: "
            a(href=`/lotteri/${lotteri.docID}/addDeltagere`) addDeltager
        for deltager in lotteri.deltagere
            ul= deltager
                
    

