html 
    head 
        title medlem
        link(rel="stylesheet" type="text/css" href="/css/medlem.css")
    body
        #container
            #backButton
                a.buttonBack(href="/")= 'Startside' 
            #memberTitle Medlems-info
            #firstNameTitle
                p= 'Fornavn: '
            #firstName
                p= member.fornavn
            #lastNameTitle 
                p= 'Efternavn: '
            #lastName
                p= member.efternavn
            #memberIDTitle
                p= 'Medlems-ID: '
            #memberID
                p= member.membersID