html 
    head 
        title Startside
        script(scr="js/tom.pug")
        link(rel="stylesheet" type="text/css" href="/css/start.css")

    body 
        #container
            #systemName Awesom-o
            #add Nye oprettelser
            #addMember
                a.addButton(href="/addMember")= 'Opret medlem'
            #addLottery
                a.addButton(href="/addgame")= 'Opret lotteri'

            #thisLottery Handlinger til denne runde  
            #purchaseRow
                a.thisRoundButton(href="/game/2022-12-02/addDeltagere")= 'Tilføj række(r)'
            #drawWinningNumbers
                a.thisRoundButton(href="/game/2022-12-02")= 'Udtræk vindertal'
            #overview Oversigt
            #lotteryOverview
                a.overViewButton(href="/Games")= 'Lotteri-oversigt'
            #memberOverview
                a.overViewButton(href="/members")= 'Medlems-oversigt'