html 
    head 
        title Startside
        script(scr="js/tom.pug")
        link(rel="stylesheet" type="text/css" href="/css/start.css")

    body 
        #container
            #systemName Awesom-o
            #add Nye oprettelser
            #addMember
                a.addButton(href="/addMedlem")= 'Opret medlem'
            #addLottery
                a.addButton(href="/addLotteri")= 'Opret lotteri'

            #thisLottery Handlinger til denne runde  
            #purchaseRow
                a.thisRoundButton(href="/lotteri/2022-12-11/addDeltagere")= 'Tilføj række(r)'
            #drawWinningNumbers
                a.thisRoundButton(href="/lotteri/2022-12-11")= 'Udtræk vindertal'
            #overview Overblik over lotterier
            #lotteryOverview
                a.overViewButton(href="/lotterier")= 'Lotteri-oversigt'
            #memberOverview
                a.overViewButton(href="/medlemmer")= 'Medlems-oversigt'